{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
	<ul class="nav nav-tabs" role="tablist">
	      <li role="presentation"><a href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit'|trans }}</a></li>
	      <li role="presentation" class="active"><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></li>
	</ul>
	
	<h2>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</h2>
	<hr />
	{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
